{% extends 'base.html' %}
{% load static %}
{% block title %}
    Event
{% endblock %}

{% block content %}

 <!-- start page title -->
 <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">EVENT</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">GFMIC</a></li>
                    <li class="breadcrumb-item active">Event</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Event</h5>
            </div>
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div>
                                <button type="button" class="btn btn-primary add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#add_event"><i class="mdi mdi-plus-circle me-2"></i> Add Event</button>
                            </div>
                        </div>
                    </div>
                {% if event_list %}
                <table id="scroll-horizontal" class="table nowrap align-middle" style="width:100%">
                    <thead class="table-light border">
                        <tr>
                            <th width="1%"></th>
                            <th >Event #</th>
                            <th >Title</th>
                            <th >Resource Speaker</th>
                            <th >Description</th>
                            <th >Schedule Time</th>
                            <th >Schedule Date</th>
                            <th>Event Price</th>
                            <th>Event Link</th>
                            <th >Event Picture</th>
                            <th>Event Status</th>
                            <th style="width: 100px;">Action</th>
                        </tr>
                    </thead>
                    {% for e in event_list %}
                    <tbody >
                        <tr>
                            <td width="1%" class="f-s-600 text-inverse" id="{{ e.event_id }}">{{ forloop.counter }}</td>
                            <td >{{ e.event_no }}</td>
                            <td>{{ e.event_title }}</td>
                            <td>{{ e.event_speaker }}</td>
                            <td>{{ e.event_desc }}</td>
                            <td>{{ e.event_time }}</td>
                            <td>{{ e.event_date|date:"Y-m-d" }}</td>
                            {% if e.event_image %}
                                
                            <td><a href="/media/{{ e.event_image }}" target="blank" class="text-primary d-inline-block edit-item-btn"><span class="badge bg-success" ><i class="ri-image-fill fs-16"></i> VIEW IMAGE</span></a>
                            {% else %}
                                {% if request.session.session_user_sub == 'ASSOCIATE' %}
                                    <td><a href='' data-bs-toggle="modal"  data-bs-target="#event_image" onClick="event_upload('{{e.event_id}}')" class="text-primary d-inline-block edit-item-btn"><span class="badge bg-info" ><i class="ri-folder-upload-fill fs-16"></i> UPLOAD IMAGE</span></a>
                                {% elif request.session.session_user_sub == 'ADMIN' %}
                                    <td><a href='' data-bs-toggle="modal"  data-bs-target="#event_image" onClick="event_upload('{{e.event_id}}')" class="text-primary d-inline-block edit-item-btn"><span class="badge bg-info" ><i class="ri-folder-upload-fill fs-16"></i> UPLOAD IMAGE</span></a>
                                {% else %}
                                    <td><span class="badge bg-info" >NOT AVAILABLE</span>
                                {% endif%}
                            {% endif %}
                            {% if e.event_status == 'ON GOING' %}
                                <td><span class="badge bg-primary text-uppercase">{{ e.event_status }}</span></td>
                            {% elif e.event_status == 'DONE' %}
                                <td><span class="badge bg-warning text-uppercase">{{ e.event_status }}</span></td>
                            {% elif e.event_status == 'PENDING' %}
                                <td><span class="badge bg-warning text-uppercase">{{ e.event_status }}</span></td>
                            {% endif %}
                            <td>
                                <ul class="list-inline hstack gap-2 mb-0">
                                    <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                        <a href="#view-event" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                            <i class="ri-eye-fill fs-16"></i>
                                        </a>
                                    </li>
                                    {% if e.event_associate.user_sub == 'ASSOCIATE' %}
                                        {% if e.event_associate.user_id == request.session.session_user_id %}
                                        <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Modify">
                                            <a href="#modify-event" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                <i class="ri-pencil-fill fs-16"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                    {% if e.event_associate.user_sub == 'ASSOCIATE' %}
                                        {% if e.event_associate.user_id == request.session.session_user_id %}
                                            {% if e.event_status == 'PENDING' %}
                                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Delete">
                                                <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" onClick="deleteEvent('{{e.event_id}}')">
                                                    <i class="ri-delete-bin-5-fill fs-16"></i>
                                                </a>
                                            </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if request.session.session_user_sub == 'ADMIN' %}
                                        {% if e.event_status == 'PENDING' %}
                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Approve">
                                            <a class="text-success d-inline-block add-item-btn" data-bs-toggle="modal" onClick="deleteEvent('{{e.event_id}}', 'approve')">
                                            <i class="ri-check-fill fs-16" ></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Disapprove">
                                            <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" onClick="deleteEvent('{{e.event_id}}', 'remove')">
                                        <i class=" ri-close-fill fs-16"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                {% else %}
                <table id="scroll-horizontal" class="table nowrap align-middle" style="width:100%">
                    <thead>
                        <tr>
                            <th width="1%"></th>
                            <th >Event #</th>
                            <th >Title</th>
                            <th >Resource Speaker</th>
                            <th >Description</th>
                            <th >Schedule Time</th>
                            <th >Schedule Date</th>
                            <th>Event Status</th>
                            <th style="width: 100px;">Action</th>
                        </tr>
                    </thead>
                </table>   
                {% endif %}
            </div>
        </div>
    </div>
</div>


<script>

function event_upload(event_id){
    $('#event_id').val(event_id)
}

function approveEvent(event_id){
    // alert(event_id)
    const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
    })
    swalWithBootstrapButtons.fire({
        title: 'Are you sure',
        text: "You want to save this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, save it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
            $.ajax({
                type:'POST',
                dataType: 'json',
                data: {
                    event_id:event_id,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(data){
                    window.location.reload()  
                },
                error: function(error){
                    console.log(error)
                }
            });
        } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
        ) {
            swalWithBootstrapButtons.fire(
            'Cancelled'
            )
        }
    });
    return false;
}

function deleteEvent(event_id, status){
    // alert(event_id)
    // alert(status)
    const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
    })
    
    swalWithBootstrapButtons.fire({
        title: 'Are you sure',
        text: "You want to "+status+" this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, '+status+' it!',
        cancelButtonText: 'No, cancel!',
        reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
            $.ajax({
                type:'POST',
                url : "{% url 'users:event_remove' %}",
                dataType: 'json',
                data: {
                    event_id:event_id,
                    status:status,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(data){
                    window.location.reload()  
                },
                error: function(error){
                    console.log(error)
                }
            });
        } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
        ) {
            swalWithBootstrapButtons.fire(
            'Cancelled'
            )
        }
    });
    return false;
}
</script>
{% endblock %}



